body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card {
    border: 1px solid #794fee65;
    padding: 15px;
    margin: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image-container img {
    width: 100%;
    max-width: 200px;
    border-radius: 80%;
}

.card-title {
    color:blue;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.card p {
    margin: 7px 0;
}
